<section class="row">
    <div class="col-md-12">
        <h3 class="jumbotron">Sign Up</h3>
    </div>
</section>

<section class="row" style="margin-left:10%;">
   <div class="col-md-4">
       <h4>Sign In</h4>
       <form>
           <input type="email"  ng-model="email" placeholder="Your Email" class="form-control" required>
           <br>
           <input type="password"  ng-model="password" placeholder="Your Password" class="form-control" required>
           <br>
           <button type="submit" class="btn btn-success" ng-click="updateData(email, password)">Login</button>
       </form><br>
        <p class="lead text-center">{{msg}}</p>
       <br>
       <a href="/Sigup">Don't Have an Account? Sign Up</a><br>
   </div>

   <div class="col-md-8">
       <img src="http://modcom.co.ke/pics/kids.jpg" alt="" class="img-fluid" width="80%">
   </div>
</section>
